@import url("https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300");
@import url("https://fonts.googleapis.com/css2?family=Contrail+One&family=Julius+Sans+One&family=Megrim&family=Nothing+You+Could+Do&display=swap");
html {
  /* --header-color: rgb(25, 25, 25); */
  --header-color: rgb(17, 20, 54);
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-family: "Open Sans", Sans-Serif;
  font-size: 1.6rem;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 6.5rem 1fr 6.5rem;
  grid-template-columns: 1fr;
}

header {
  width: 100%;
  grid-area: "header";
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  border-bottom: 0.1rem solid #c0c0c0;
}

header a {
  font-family: "Nothing You Could Do", cursive;
  color: white;
  font-weight: 300;
  font-size: 2.2rem;
  padding-top: 5px;
  text-decoration: none;
}

header img {
  background-color: rgb(30, 168, 77);
  margin-right: 0.5rem;
  width: 5rem;
  height: 2.2rem;
}

a:hover {
  cursor: pointer;
}

main {
  grid-area: "main";
}

footer {
  padding: 0.8rem;
  font-size: 1.3rem;
  grid-area: "footer";
  background-color: var(--header-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: white;
}

footer button {
  background-color: transparent;
  color: white;
}

footer > div {
  color: white;
  text-decoration: none;
  padding: 0.2rem;
}

footer > div:nth-child(1) > a {
  color: lightgray;
}
footer > div:nth-child(1) > a:hover {
  color: grey;
  cursor: pointer;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* Product Items */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.product-li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.189);
  padding: 1rem;
}

.product img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}

.product p {
  text-align: center;
}
.product a {
  color: black;
}

.product a:hover {
  color: rgba(24, 23, 113, 0.846);
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price button {
  max-width: 9rem;
  text-align: center;
}

.product-price div {
  font-size: 2rem;
  flex: 1;
}

button {
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.button-primary {
  background-color: rgb(30, 168, 77);
  color: white;
}

.loader {
  text-align: center;
  margin-top: 10rem;
  z-index: 1000;
}

#root > div > main > div > div.main > div:nth-child(2) > ul {
}

/* Filter Component */

.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(246, 246, 246);
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter-sort {
  text-align: end;
}

.filter div {
  flex: 1;
}

/* Index.css */

.sidebar {
  border-left: 0.1rem solid #c0c0c0;
}

.cart {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-header {
  color: black;
  font-weight: 400;
  border-bottom: 0.1rem #c0c0c0 solid;
  background-color: rgb(246, 246, 246);
  margin: 0;
  text-align: center;
  justify-content: center;
}

.cart-header img {
  height: 4.6rem;
  fill-color: green;
}

.cart button {
  background-color: rgb(30, 168, 77);
  color: white;
}

.cart .remove-button {
  margin-left: 0.8rem;
  background-color: rgb(227, 227, 227);
  color: rgb(174, 22, 22);
}

.cart-count {
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(30, 168, 77);
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 8rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.right {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.total > div {
  font-size: 2rem;
}

.total > div,
.total > button {
  flex: 1;
}

/* Checkout Form   */

form {
  width: 100%;
}

.form-container {
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

input {
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
}

/* Product Modal */

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-height: 96vh;
}

.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

body > div.ReactModalPortal > div > div {
  width: 60vw;
  height: 65vh;
  margin: auto;
}

.product-price button {
  width: 60%;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

.product-button {
  margin: 0.3rem;
}

.close-modal {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  z-index: 999;
}

/* Order Details */

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div {
  padding: 10px;
}

.order-details .items {
  text-align: left;
  padding: 0;
}
.success-message {
  color: green;
}

/* ORDERS */

.orders {
  width: 100%;
  padding: 10px;
  text-align: center;
}

table {
  margin: 0 auto;
}

tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}
td {
  padding: 1rem;
}

th {
  text-align: center;
}
