@import url("https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300");
html {
  --header-color: rgb(39, 39, 71);
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-family: "Open Sans", Sans-Serif;
  font-size: 1.6rem;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
}

header {
  font-family: "Work Sans", Sans-Serif;
  grid-area: "header";
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  padding: 0.8rem;
}

header a {
  color: rgb(255, 255, 255);
  font-size: 2.3rem;

  text-decoration: none;
}

a:hover {
  color: rgb(231, 178, 74);
  cursor: pointer;
}

main {
  grid-area: "main";
}

footer {
  grid-area: "footer";
  background-color: var(--header-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* Product Items */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.product-li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 2rem;
  background-color: white;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.23);
  padding: 1rem;
}

.product img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}

.product p {
  text-align: center;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price button {
  text-align: center;
}

.product-price div {
  font-size: 2rem;
  flex: 1;
}

button {
  padding: 0.8rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

button:hover {
  cursor: pointer;
  border: 0.1rem #888 solid;
}

.button-primary {
  background-color: #f0c040;
}

/* Filter Component */

.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div {
  flex: 1;
}

/* Index.css */

.cart {
  padding: 1.2rem;
  margin: 1rem;
  display: flex;
}

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 8rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.right {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.total > div {
  font-size: 2rem;
}

.total > div,
.total > button {
  flex: 1;
}

/* Checkout Form   */

form {
  width: 100%;
}

.form-container {
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}

/* Product Modal */

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-price button {
  width: 60%;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}
.close-modal {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  z-index: 999;
}
